################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson.slnx
/.vs

# Build outputs
**/bin/
**/obj/
*.user
*.Backup.tmp
